# 1. Read your Titanic dataset as usual: Create a training set and a testing set then apply decision tree.

In [33]:
#importing relevant libraries
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import pydotplus

from sklearn.model_selection import train_test_split
from sklearn import tree   
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

In [2]:
df = pd.read_csv("titanic.csv", sep=";")

In [3]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,343,No,2,"Collander, Mr. Erik Gustaf",male,28.0,0,0,248740,13.0000,NaN,S
1,76,No,3,"Moen, Mr. Sigurd Hansen",male,25.0,0,0,348123,7.6500,F G73,S
2,641,No,3,"Jensen, Mr. Hans Peder",male,20.0,0,0,350050,7.8542,NaN,S
3,568,No,3,"Palsson, Mrs. Nils (Alma Cornelia Berglund)",female,29.0,0,4,349909,21.0750,NaN,S
4,672,No,1,"Davidson, Mr. Thornton",male,31.0,1,0,F.C. 12750,52.0000,B71,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,10,Yes,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
887,61,No,3,"Sirayanian, Mr. Orsen",male,22.0,0,0,2669,7.2292,NaN,C
888,535,No,3,"Cacic, Miss. Marija",female,30.0,0,0,315084,8.6625,NaN,S
889,102,No,3,"Petroff, Mr. Pastcho (Pentcho)",male,NaN,0,0,349215,7.8958,NaN,S
890,428,Yes,2,"Phillips, Miss. Kate Florence (Mrs Kate Louise...",female,19.0,0,0,250655,26.0000,NaN,S

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    object
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(4), object(6)
memory usage: 83.7+ KB

In [5]:
df.describe()

       PassengerId      Pclass         Age       SibSp       Parch        Fare
count   891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean    446.000000    2.308642   29.699118    0.523008    0.381594   32.204208
std     257.353842    0.836071   14.526497    1.102743    0.806057   49.693429
min       1.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%     223.500000    2.000000   20.125000    0.000000    0.000000    7.910400
50%     446.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%     668.500000    3.000000   38.000000    1.000000    0.000000   31.000000
max     891.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [6]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [7]:
df["Age"].fillna(df["Age"].median(skipna=True), inplace=True)
df.drop('Cabin', axis=1, inplace=True)
df = df.drop(['Ticket','Name', 'PassengerId'], axis=1)
df=df.dropna(how="any")
df["Survived"]=df["Survived"].replace(["Yes", "No"] , [1 , 0])
df["Sex"]=df["Sex"].replace(["male", "female"] , [1 , 0])
df["Embarked"]=df["Embarked"].replace(["C", "S", "Q"] , [1 , 2, 3])
df['Age'] = df['Age'].astype(int)
df['Fare'] = df['Fare'].astype(int)
df["Survived"]=df["Survived"].replace(["Yes", "No"] , [1 , 0])

In [8]:
df

     Survived  Pclass  Sex  Age  SibSp  Parch  Fare  Embarked
0           0       2    1   28      0      0    13         2
1           0       3    1   25      0      0     7         2
2           0       3    1   20      0      0     7         2
3           0       3    0   29      0      4    21         2
4           0       1    1   31      1      0    52         2
..        ...     ...  ...  ...    ...    ...   ...       ...
886         1       2    0   14      1      0    30         1
887         0       3    1   22      0      0     7         1
888         0       3    0   30      0      0     8         2
889         0       3    1   28      0      0     7         2
890         1       2    0   19      0      0    26         2

[889 rows x 8 columns]

In [36]:
#features extraction
x=df.drop(["Survived"], axis=1)
y= df["Survived"]

#splitting data
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.20,random_state=10)

#applying tree algorithm

tree= tree.DecisionTreeClassifier()  
tree.fit(x_train, y_train)   #fitting our model
y_pred=tree.predict(x_test)   # evaluating our model
print("score:{}".format(accuracy_score(y_test, y_pred)))

score:0.797752808988764

# 2. Plot your decision tree and try to read the tree branches and conclude a prediction manually.

In [21]:
pip install graphviz

Requirement already satisfied: graphviz in c:\users\hp\anaconda3\lib\site-packages (0.20.1)Note: you may need to restart the kernel to use updated packages.

In [31]:
#creating an image to visualize the decision tree


import graphviz
dot_data = tree.export_graphviz(tree, out_file=None)
graph=graphviz.Source(dot_df)
graph.render("df")
graph

AttributeError: 'DecisionTreeClassifier' object has no attribute 'export_graphviz'

# 3. Change the decision tree parameters(at least two parameters).